.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg,#f90c04,#7604f9);
    align-items: center;
    flex-direction: column;
    display: flex;
}
.search-box{

    display: flex;
    align-items: center;
    gap: 12px;
}
.search-box input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}
.search-box img{
    width: 5opx;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}
.weatherimage{
   width: 150px;
   margin: 30px 0px;
}
.temp{
    color: white;
    font-size: 80px;
    line-height: 1;
}
.location{
    color: white;
    font-size: 40px;
}
.weatherdata{
    width: 100%;
 margin-top: 40px;
     color: white;
     display: flex;
     justify-content: space-between;
    
}
.weatherdata .col{
    display: flex;
    align-items: self-end;
    gap: 12px;
    font-size: 22px;
}
.weatherdata .col span{
    display: block;
    font-size: 16px;
}
.weatherdata .col img{
    width: 26px;
    margin-top: 10px;
}